In [1]:
import pandas_datareader as pdr
import pandas as pd

In [6]:
fed_balance = pdr.DataReader('WALCL', data_source='fred', start='2000')
fed_balance

                WALCL
DATE
2002-12-18   719542.0
2002-12-25   732059.0
2003-01-01   730994.0
2003-01-08   723762.0
2003-01-15   720074.0
...               ...
2020-07-01  7009040.0
2020-07-08  6920716.0
2020-07-15  6958604.0
2020-07-22  6964755.0
2020-07-29  6949032.0

[920 rows x 1 columns]

In [5]:
nom_gdp = pdr.DataReader('GDP', data_source='fred', start='2002')
nom_gdp

                  GDP
DATE
2002-01-01  10788.952
2002-04-01  10893.207
2002-07-01  10992.051
2002-10-01  11071.463
2003-01-01  11183.507
...               ...
2019-04-01  21329.877
2019-07-01  21540.325
2019-10-01  21747.394
2020-01-01  21561.139
2020-04-01  19408.759

[74 rows x 1 columns]

In [11]:
pd.concat(objs=[fed_balance, nom_gdp], axis=1).dropna()

                WALCL        GDP
DATE
2003-01-01   730994.0  11183.507
2003-10-01   753155.0  11769.275
2008-10-01  1503989.0  14559.543
2009-04-01  2078936.0  14352.850
2009-07-01  2005627.0  14420.312
2014-01-01  4023640.0  17104.555
2014-10-01  4450260.0  17849.912
2015-04-01  4481799.0  18223.577
2015-07-01  4479130.0  18347.425
2020-01-01  4173626.0  21561.139
2020-04-01  5811607.0  19408.759

In [18]:
fed_balance.tail(1).iloc[0]

GDP     NaN
WALCL   NaN
dtype: float64

In [19]:
 nom_gdp.tail(1).iloc[0]

GDP    19408.759
Name: 2020-04-01 00:00:00, dtype: float64

In [21]:
float(nom_gdp.iloc[-1])

19408.759

In [23]:
float(fed_balance.iloc[-1]) / (float(nom_gdp.iloc[-1]) * 1000)

0.35803587442144036

In [24]:
fed_balance['WALCL'].iloc[-1]

6949032.0

In [25]:
nom_gdp['GDP'].iloc[-1]

19408.759