In [1]:
import pandas as pd
import pandas_datareader as pdr

In [10]:
real_gdp = pdr.DataReader('GDPC1', data_source='fred')
real_gdp['Change'] = real_gdp['GDPC1'].diff()
real_gdp['% Change'] = real_gdp['GDPC1'].pct_change()
real_gdp['% Change Annualised'] = real_gdp['% Change'] * 4
real_gdp

                GDPC1    Change  % Change  % Change Annualised
DATE
2015-10-01  17514.062       NaN       NaN                  NaN
2016-01-01  17613.264    99.202  0.005664             0.022657
2016-04-01  17668.203    54.939  0.003119             0.012477
2016-07-01  17764.388    96.185  0.005444             0.021776
2016-10-01  17876.179   111.791  0.006293             0.025172
2017-01-01  17977.299   101.120  0.005657             0.022627
2017-04-01  18054.052    76.753  0.004269             0.017078
2017-07-01  18185.636   131.584  0.007288             0.029153
2017-10-01  18359.432   173.796  0.009557             0.038227
2018-01-01  18530.483   171.051  0.009317             0.037267
2018-04-01  18654.383   123.900  0.006686             0.026745
2018-07-01  18752.355    97.972  0.005252             0.021008
2018-10-01  18813.923    61.568  0.003283             0.013133
2019-01-01  18950.347   136.424  0.007251             0.029005
2019-04-01  19020.599    70.252  0.003707             0.014829
2019-07-01  19141.744   121.145  0.006369             0.025477
2019-10-01  19253.959   112.215  0.005862             0.023449
2020-01-01  19010.848  -243.111 -0.012627            -0.050506
2020-04-01  17205.822 -1805.026 -0.094947            -0.379789

In [12]:
nom_gdp = pdr.DataReader('GDP', data_source='fred', start='1947-1-1')
nom_gdp['Change'] = nom_gdp['GDP'].diff()
nom_gdp['% Change'] = nom_gdp['GDP'].pct_change()
nom_gdp['% Change Annualised'] = nom_gdp['% Change'] * 4
nom_gdp

                  GDP    Change  % Change  % Change Annualised
DATE
1947-01-01    243.164       NaN       NaN                  NaN
1947-04-01    245.968     2.804  0.011531             0.046125
1947-07-01    249.585     3.617  0.014705             0.058821
1947-10-01    259.745    10.160  0.040708             0.162830
1948-01-01    265.742     5.997  0.023088             0.092352
...               ...       ...       ...                  ...
2019-04-01  21329.877   214.568  0.010162             0.040647
2019-07-01  21540.325   210.448  0.009866             0.039465
2019-10-01  21747.394   207.069  0.009613             0.038452
2020-01-01  21561.139  -186.255 -0.008564            -0.034258
2020-04-01  19408.759 -2152.380 -0.099827            -0.399307

[294 rows x 4 columns]